html,body{
	height: 100%;
	width: 100%;
	background-color: rgb(25,25,25);
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
	color: white;
}
div{
	display: inline-block;	
	vertical-align: top;
}
#left-container{
	width: 19%;
	padding-left: 1%;
	padding-top: 10px;
}
#node-container{
	height: 100%;
	width: 80%;
	position: relative;
	padding: 0;
	margin: 0;
}
.circle{
	border-radius: 50%;
	height: 30px;
	width: 30px;
	background-color: #0099cc;
	border: 2px solid white;
	position: absolute;
}
.circle:hover{
	cursor: pointer;
	background-color: #07c1ff;
}
#chatList{
	padding: 0;
	overflow-y: hidden;
	height: 500px;
	border: 1px solid white;
	border-radius: 2px;
}
#chatList li{
	text-decoration: none;
	padding: 5px;
	margin-bottom: 5px;
	border: 1px solid white;
	border-radius: 2px;
	list-style-type: none;
}